<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Castelo da Abby</title>

  <link rel="stylesheet" href="../login.css" />
</head>
<body>
  <div class="container">
    <p class="alert"><p>Olá!</p><p>Parece que você não logou com o Discord!</p><p>Assim que logar poderemos disponibilizar as informações do seu Personagem, ou criar um!</p></p>
    <a href="/auth/discord" class="loginButton"><button>Logue-me!</button></a>
  </div>
</body>
</html>